@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p style="color:lemonchiffon">Use this page to detail your site's privacy policy.</p>

<div style="position:fixed; right:25%; bottom:15%">
    <i class="fab fa-aviato fa-10x fa-border border-right-0 border-bottom-0 spinner-border-sm"></i> @* style="border-radius:190px; background-color:indianred"*@
    @* fab fa-alipay fa-10x *@
    @* fas fa-balance-scale-left *@
</div>
